html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}
body {
  min-height: 100vh;
}
#nopP{
  color: orange;
}
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  padding: 0;
}
.ticketDiv{
  height: 100% !important;
  height: 85vh;
  width: 25vw;
}
.ticketDiv-Parent{
  width: 90vw;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-content: center;
}
.middleDiv{
  margin-left: 60px;
  margin-right: 60px;
}
.liveOrders{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: ;
    height: 135px !important;
    border: 1px solid rgba(255, 123, 0, 0.301);
    background-color: rgba(255, 0, 0, 0.062);
    border-radius: 15px !important;
    margin-bottom: 20px !important;
    padding-right: 32px !important;
    padding-top: 16px;
}
#finalUl{
  padding-right: 40px !important;
}

#ejsdiv {
  width: 1830px; 
  height: 90vh; 
  position: relative; 
  z-index: 10; 
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  background: rgba(0, 0, 0, 0.5); 
  background-color: rgba(0, 0, 0, 0.288);
  border-radius: 30px;
  z-index: 10;
  padding-top: 30px;
}
p {
  color: #d15e00;
}
h1{
    margin-bottom: 30px !important;
    font-family: 'Bungee Spice', sans-serif;
    background-color: rgba(255, 0, 0, 0.062);
    padding: 15px;
    border-radius: 10px;
}
.adminLoginDiv {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
.adminLoginP{
  margin: 0px;
  margin-right: 50px;
  padding: 0px;
  color: #d17000;
}
ul {
  font-size: 19px;
  color: white;
  margin-bottom: 0px !important;
}

.timer {
    color: black; 
}
.timer.green { 
  color: green !important; 
}
.timer.orange { 
  color: orange !important; 
}
.timer.red { 
  color: red !important; 
}
a {
  text-decoration: none !important;
}